/* start framework */
body {
   font-family: 'Almarai', sans-serif;
   font-family: 'Cairo', sans-serif !important;
   background-color: #fff !important;
}

.bg-gray{
   background-color: #ebebeb;
}

.bold {
   font-weight: bold;
}

.flex1 {
   flex: 1;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.decoration-none {
   text-decoration: none;
}

.w-20 {
   width: 20px;
}

.fw-600 {
   font-weight: 600;
}

.fw-400 {
   font-weight: 400;
}

.page {
   min-height: 86vh;
   position: relative;
   top: 49px;
   padding: 10px 0;
   background-color: #e9e9e9;
}

input, 
button,
select,
textarea{
   box-shadow: none !important;
   border: 2px solid ;
}
input:active{
   border: 2px solid black;
}


.disable{
   cursor: no-drop;
}


/* end framework */

/* start navbar */
.navbar {
   position: fixed !important;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 5000;
}

/* end navbar */


/* start home  */
.categories {
   display: flex;
   justify-content: start;
   align-items: center;
}

.categories .image {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px;
   width: 150px;
   border-radius: 50%;
   height: 150px;
}

.categories .image img {
   height: 150px;
   object-fit: contain;
}

.home .shopping-now {
   padding: 5px;
   height: 35px;
   width: 90px;
   color: #272727;
   text-decoration: none;
   text-align: center;
   border: 1px solid #272727;
   border-radius: 14px;
}

.product {
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.home .discount {
   background-image: linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(87, 87, 87, 1) 50%, rgba(51, 51, 51, 1) 100%);
   color: white;
}

.footer {
   margin: 47px 0 0 !important;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.brand {
   width: 130px;
}

.grid-300 {
   display: grid !important;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
}

.grid-180 {
   display: grid !important;
   grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
}

@media (max-width:400px) {
   .categories {
      justify-content: center !important;
   }

   .home .brands {
      justify-content: center !important;
   }

   .footer {
      justify-content: center;
   }
}

/* end home  */

/* category */

.category-header>div,
.category-header>a {
   transition: .3s;
}

.category-header>div:hover,
.category-header>a:hover {
   background-color: black;
   color: white !important;
}


/* end category */

/* start card filter  */
.search-count-text {
   color: #979797;
   font-family: Almarai;
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 0;
   line-height: 20px;
   text-align: right;
}

.card-filter {
   background-color: #ffffff;
   border-radius: 10px;
   padding: 15px;
   width: 170px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-filter-item {
   font-size: 12px;
   font-weight: 400;
   padding: 10px;
}

.card-filter-item:hover {
   background-color: #272727;
   color: #ffffff;
}

/* end card filter  */


/* start content in search  */
@media (max-width:767px) {
   .side-filter {
      width: 100% !important;
      display: flex;
      justify-content: space-evenly;
      align-items: start;
   }

   .side-filter+div {
      width: 100% !important;
   }
}


/* pagination */
.page-link {
   background-color: #f9f9f9 !important;
   color: #272727 !important;
   border-radius: 10px !important;
   border: solid 1px 272727 !important;
}

.page-link:hover {
   background-color: #272727 !important;
   color: white !important;
   border: solid 1px 272727 !important;
}

/* end pagination */

/* products gallary slide style */
.image-gallery-slide {
   width: 372px;
   height: 470px;
   border-radius: 29px;
}

/* end gallary */


/* start product description */
label.product-color, 
label.phone-color {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   cursor: pointer;
   margin: 8px 0 0 5px;
   position: relative;
   transition: .5s;
}

label.product-color.active, 
label.phone-color.active {
   box-shadow: 0 0 1px 2px black;
}

label.product-color:hover::after{
   content: 'x';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: transparent;
   transition: .5s;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 20px;
} 

.image-gallery-slider,
.image-gallery-image {
   width: 300px !important;
   height: 100%;
}

@media (max-width:767px) {
   .product-slider {
      width: 100% !important;
   }

   .product-description {
      width: 100% !important;
   }
}

/* end product description */